.container {
    align-items: center;
    background-color: #282c34;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  }
  
  .ruletaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .pin {
    margin: 20px auto -50px auto;
    width: 150px;
    z-index: 3;
  }
  
  .imgsContainer {
    position: relative;
  }
  
  .ruleta {
    position: relative;
    z-index: 2;
    transition: transform 1s ease-in-out;
  }
  
  .ruleta_full {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .ruleta.rotated {
    transform: rotate(340deg);
  }
  
  .btn {
    all: unset;
    background-color: #fff;
    border-radius: 8px;
    color: #282c34;
    cursor: pointer;
    margin: 40px 0;
    padding: 10px 20px;
    z-index: 3;
  }